
/* html{
    height: 100%;
} */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background:linear-gradient(red,yellow) ;
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 30px;
}

h1 {
    color: white;
    font-weight: 900;
    /* border:solid 1px red; */
    text-align: center;
}

.promotion {
    color: red;
    font-weight: 900;
}

.sidebar-nav{
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.white{
    color: aliceblue;
    font-weight: 900;
}
form{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.btn-primary{
    background: linear-gradient(orange,yellow);
    border: 1px solid white;
    color:darkred;
    font-weight: 900;
}

img{
    width: 300;
    height: auto;
}
.div-g{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:60px;
}