{% extends "base_generic.html" %}
{% block content %}
<h1>categories</h1>


<form action="" method="get">
    <label for="category">filtre par catégorie : </label>
    <select name="category" id="category">
        <option value="">All</option>
        {% for category in categories %}
        <option value="{{category.name}}" {% if category.name == selected_category %} selected {% endif %}>{{category.name}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Filter">
</form>

<ul>
    {% for product in products %}
    <li>{{product.label}}</li>
    {% empty %}
    <li>No product found</li>
    {% endfor %}
</ul>
{% endblock %}