{% extends "base_generic.html" %}

{% block content %}
    
        <h1>Accueil</h1>
        <p>Bienvenue sur le site de catalogue de Mercadona</p>
        <form action="" method="get">
            <label for="category">filtre par catégorie : </label>
            <select name="category" id="category">
                <option value="">Toutes les catégories</option>
                {% for category in categories %}
                <option value="{{category.name}}" {% if category.name == selected_category %} selected {% endif %}>{{category.name}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Filtrer">
        </form>
        <ul>
        {% for product in product_list %}
            <li>{{product.label}}</li>
            <li>{{product.price}}</li>
                {% for promotion in promotion_list %}
                   
                    {% if product.label == promotion.product.label and promotion.change_status == True %}
                        <li>Promotion de {{promotion.discount_percentage}} % sur cet article , nouveau prix : <span class="promotion">{{promotion.calculate_discounted_price}} €</span></li>

                    {% endif %}
                        
                    
                {% endfor %}
                
                
                <img src="{{product.image.url}}" alt="image produit" style="width:300px;height: auto;">
                
                
              
                
        {% endfor %}

        </ul>
        <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if product_list.has_previous %}
           
            <li class="page-item"><a href="?page={{product_list.previous_page_number}}" class="page-link">page précédente</a></li>
            {% endif %}
            <li class="page-item active">
            <span class="current-page page-link"> {{product_list.number}}  </span></li>
            {% if product_list.has_next %}
            <li class="page-item">
            <a href="?page={{product_list.next_page_number}}" class="page-link">page suivante</a></li>
            
            {% endif %}
        </ul>
    </nav>
{% endblock %}
       

    
