{% extends "base_generic.html" %}

{% block content %}
<div class="div-1">
    <h1 class="display-4">Catalogue Mercadona</h1>
    <p class="text-center white">Bienvenue sur le catalogue de Mercadona</p>
    <div class="text-center">
    <form action="" method="get" >
        <label for="category" class="form-label white">Veuillez selectionner une catégorie : </label>
        <select name="category" id="category" class="form-control text-center mb-4" style="width: 70%;"  >
            <option value="">Toutes les catégories</option>
            
            
            
        </select>
        
    </form>
</div>
<div class=" justify-content-center  div-g" id="product-list">
    <!-- La liste des produits sera affichée ici -->
</div>


<nav aria-label="Page navigation example ">
    <ul class="pagination justify-content-center mt-3">
       
      <li class="page-item"><a class="page-link" href="#" id="previousPage">Previous</a></li>
    
      
      <li class="page-item"><a class="page-link active" href="#" id="currentPage"></a></li>
     
      <li class="page-item"><a class="page-link" href="#" id="nextPage">Next</a></li>
      <li class="page-item"><a class="page-link" href="#" id="lastPage">Last Page</a></li>
    </ul>
  </nav>


{% endblock %}

