{% extends "base_generic.html" %}

{% block content %}
    <div class="div-1">
        <h1 class="display-4">Catalogue Mercadona</h1>
        <p class="text-center white">Bienvenue sur le catalogue de Mercadona</p>
        <div class="text-center">
        <form action="" method="get" class="align-item-center">
            <label for="category" class="form-label white">Veuillez selectionner une catégorie : </label>
            <select name="category" id="category" class="form-control text-center" style="width: 50%;">
                <option value="">Toutes les catégories</option>
                {% for category in categories %}
                <option value="{{category.name}}" {% if category.name == selected_category %} selected {% endif %}>{{category.name}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Filtrer" class="btn btn-primary mt-2 mb-2">
        </form>
    </div>
    <div class="row justify-content-center" >
        {% for product in product_list %}
<div class="card m-auto mt-2" style="width: 18rem;">
    <img class="card-img-top mt-3" src="{{product.image.url}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{product.label}}</h5>
      <p class="card-text">{{product.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">catégorie : {{product.category}}</li>
      <li class="list-group-item">{{product.price}} €</li>
      
      {% for promotion in promotion_list %}
      {% if product.label == promotion.product.label and promotion.change_status == True %}
        <li class="list-group-item">Promotion de {{promotion.discount_percentage}} % sur ce produit, qui est vendu au prix de : <span class="promotion">{{promotion.calculate_discounted_price}} €</span></li>
        <li class="list-group-item">fin de la promotion : {{promotion.end_date|date:"d M Y"}}</li>
        {% endif %}
        {% endfor %}
        
      
    </ul>
    
  </div>
  {% endfor %}
    </div>
    <div class="mt-3">
        <nav aria-label="Page navigation " class="row justify-content-center">
        <ul class="pagination justify-content-center">
            {% if product_list.has_previous %}
           
            <li class="page-item"><a href="?page={{product_list.previous_page_number}}" class="page-link">page précédente</a></li>
            {% endif %}
            <li class="page-item active">
            <span class="current-page page-link"> {{product_list.number}}  </span></li>
            {% if product_list.has_next %}
            <li class="page-item">
            <a href="?page={{product_list.next_page_number}}" class="page-link">page suivante</a></li>
            
            {% endif %}
        </ul>
    </nav>
</div>
</div>
{% endblock %}
       

    
